@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffbfb;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--nunito);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--quick-sand);
}

.swiper {
  width: 100%;
  height: 100%;
}

.custom-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: white;
  opacity: 0.8;
  transition: all;
  transition-duration: 300ms;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: #007aff;
  scale: 130%;
  transition: all;
  transition-duration: 300ms;
}

.servicesscroll::-webkit-scrollbar {
  display: none;
}

.servicesscroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
